body {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  background-color: #242424;
  background-image: linear-gradient(132deg, #242424 0%, #07735f 100%);
  color: #fff;
}
.progress {
  position: absolute;
  height: 189px;
  width: 161px;
  cursor: pointer;
  top: 19%;
  left: 50%;
  margin: -104px 0 0 -80px;
}

.progress-circle {
  transform: rotate(-90deg);
  margin-top: 15px;
}

.progress-circle-back {
  fill: none;
  stroke: #d2d2d2;
  stroke-width: 10px;
}
.progress-circle-prog {
  fill: none;
  stroke: #088866;
  stroke-width: 10px;
  stroke-dasharray: 0 999;
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
  border-radius: 2px;
}
.hints {
  position: absolute;
  top: 38%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info {
  margin: 4px;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  /*! background-color: #333333; */
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  background-image: linear-gradient(132deg, #242424 0%, #07735f 100%);
  align-content: center;
  align-items: center;
}
.switch-port {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
}
.hintss {
  position: absolute;
  top: 60%;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-left: 2px;
}
.btns {
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  font-size: 16px;
}
#button {
  height: 23px;
  width: 40px;
  font-size: 12px;
  background: #088866;
  border: #088866;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 7px;
}
#button2 {
  height: 23px;
  width: 40px;
  font-size: 12px;
  background: #d7263d;
  border: #d7263d;
  color: white;
  margin-top: 0px;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 7px;
}
.slider {
  position: absolute;
  top: 74%;
  width: 100%;
  text-align: center;
}
input {
  width: 80%;
}

.slidere {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 20px;
}

/* Mouse-over effects */
.slidere:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slidere::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #088866; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidere::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #088866; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}
.state {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #d2d2d2;
}

.header-btns {
  display: flex;
}
.onoffbtns {
  margin-right: 15px;
  height: 29px;
}
.onoffbtns:first-of-type {
  background: #2064c4;
  border: #2064c4;
  color: white;
  margin-top: 19px;
  margin-bottom: 13px;
  cursor: pointer;
  border-radius: 2px;
}
.onoffbtns:last-of-type {
  background: #d7263d;
  border: #d7263d;
  color: white;
  margin-top: 19px;
  margin-bottom: 13px;
  cursor: pointer;
  border-radius: 2px;
}
.soscontainer {
  width: 100%;
  position: absolute;
  top: 87%;
  text-align: center;
}
.soscontainer button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: #d7263d;
  background-color: #d7263d;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.container {
  height: 98vh;
  border: solid 2px;
}
.icon-hint {
  font-size: 36px;
  padding-top: 16px;
}
span {
  font-size: 20px;
}
#values {
  padding: 12px;
}
.fa-solid.fa-power-off {
  font-size: 20px;
}
